h1 cherry-pick

p Wenn es nötig ist, einzelne Commits eines anderen Branches mit dem aktuellen Stand des aktiven Branches zusammen zu führen.

p Sie klonen ein Repo auf Ihre lokale Festplatte. <b>git clone</b>

+textbox('git clone <URL>')