p Die Ausgabe würde in etwa, wie folgt, aussehen:
pre
  code.
    # On branch hotfix
    # modified:   public/script.js

p Haben Sie durch einen Commit die Änderungen nun zu Ihrem Repository hinzugefügt, können Sie diesen Commit durch <b>git log</b> im Logbuch anzeigen lassen.

+textbox('git ...')