h1 Branches

p Branches sind nötig, um einen funktionierenden Workflow im Team zu etablieren. Dabei gibt es verschiedene Ansätze, wann Branches erstellt werden. 
p Erstellen Sie den "hotfix" branch.

+textbox('git ...')