h1 Vor, in die Vergangenheit.

p Natürlich können auch Änderungen, die bereits durchgeführt wurden, rückgängig gemacht werden. Lokale Änderungen, die noch nicht im remote-Repository gespeichert wurden, kann man mit <b>git reset</b> verwerfen.

+textbox('git ...')