p Sie erstellen im Arbeitsverzeichnis drei Grafik-Dateien: <pre>icon.png</pre> <pre>icon.jpg</pre> &amp; <pre>icon.psd</pre> und fügen diese mit <b>git add .</b> (tbd) zu Ihrem Repository hinzu. Nun merken Sie, dass die PSD-Datei für Ihre Kollegen unbrauchbar ist und sie wollen diese wieder aus dem Repository heraus nehmen, ohne sie zu löschen. Ein sogenannter <b>unstage</b>, durchgeführt mit <b>reset</b>.

+textbox('git reset <file>')

p test