p Nach dem Sie einige Änderungen am Repository durchgeführt haben, muss nun ein neuer Commit durchgeführt werden. Mit <pre>-m</pre> können Sie direkt die Commit Nachricht anhängen.
pre
  code git commit -m 'message'

+textbox('git ...')