p Mit <b>revert</b> kann man ebenfalls einen vorherigen Zustand wieder herstellen, allerdings wird damit ein neuer Commit erzeugt, der im aktuellen Repository voran gestellt wird. Das bedeutet, dass der aktuelle Arbeitsstand nicht verloren geht und nur das zurück gesetzt wurde, was in einem einzelnen Commit getan wurde. Wurde z.B. vor drei Commits eine einzelne Datei hinzugefügt, würde diese nun in einem neuen Commit wieder gelöscht werden, bliebe aber in der History vorhanden und man könnte später wieder darauf zugreifen.

+textbox('git revert')