p Im master-Branch angekommen, können Sie von dort aus einen Branch in den master-Branch <i>zusammenführen</i>. Fügen Sie nun den hotfix-Branch zum master-Branch zusammen.
pre
  code git merge [branch]

+textbox('git ...')