p Und erstellen einen Branch für die Erweiterung <i>addon</i>.

p Tip: Mit Hilfe von <b>git checkout -b [branchname]</b> erstellen Sie den Branch und wechseln automatisch in diesen.

+textbox('git checkout -b <branchname>')