p Nun möchten Sie für das Addon eine Bibliothek nutzen, installieren dafür die library.rb, und fügen diese dem Repo hinzu.
p Anschließend kommt ein Kollege, der ebenfalls ein neues Feature erstellen will und dafür die von Ihnen installierte Bibliothek nutzen möchte. Mit cherry-pick ist es möglich, einzelne Commits <i>heraus zu ziehen</i>.

pre
  code git cherry-pick dbf8e77

+textbox('git cherry-pick <SHA>')
