h1 pull --rebase

p Sie möchten Ihren aktuellen Arbeitsstand, bzw. Commit, mit <i>push</i> zu Ihrem Remote übertragen, bekommen aber die Fehlermeldung, dass der Remote Arbeitsstände enthält, die in Ihrem lokalen Repository noch nicht vorhanden sind.
p Möchten Sie Ihr lokales Repository auf den Stand des Remote Repository bringen, <i>pullen</i> Sie die Änderungen.

+textbox('git pull')
