p Prima.
p Sie haben nun ein lokales Repository erstellt.
p Im folgenden wird eine lokale Datei angelegt: 

pre
  code
    $ touch readme.md
p Diese Datei wird jedoch nicht in Ihre Änderungen aufgenommen, so lange sie diese Datei nicht zu Ihrem Repository hinzugefügt haben. Bitte fügen Sie die Datei nun zu diesem hinzu.

+textbox('git ...')