p Im hotfix-Branch erstellten wir nun einen fix in der <b>script.js</b>. Zeigen Sie mit <b>git status</b> die Änderungen an, die Sie noch nicht mit dem Repository abgeglichen haben.

+textbox('git ...')