block content
  p Erstellen Sie ein neues GIT Repository, lokal, auf Ihrem Computer!
  +textbox('git _____')

block switch1
  if data.switch1 = true
    .switch#switch1
      include includes/switch1
  else
    #switch1
      include includes/switch1

block switch2
  if data.switch2 = true
    .switch#switch2
      include includes/switch2
  else
    #switch2
      include includes/switch2

block switch3
  if data.switch3 = true
    .switch#switch3
      include includes/switch3
  else
    #switch3
      include includes/switch3

block switch4
  if data.switch4 = true
    .switch#switch4
      include includes/switch4
  else
    #switch4
      include includes/switch4

block switch5
  if data.switch5 = true
    .switch#switch5
      include includes/switch5
  else
    #switch5
      include includes/switch5

block switch6
  if data.switch6 = true
    .switch#switch6
      include includes/switch6
  else
    #switch6
      include includes/switch6

block switch7
  if data.switch7 = true
    .switch#switch7
      include includes/switch7
  else
    #switch7
      include includes/switch7

block switch8
  if data.switch8 = true
    .switch#switch8
      include includes/switch8
  else
    #switch8
      include includes/switch8

//- block switch9
//-   if data.switch9 = true
//-     .switch#switch9
//-       include includes/switch9
//-   else
//-     #switch9
//-       include includes/switch9

//- block switch10
//-   if data.switch10 = true
//-     .switch#switch10
//-       include includes/switch10
//-   else
//-     #switch10
//-       include includes/switch10

