mixin textbox(placeholder)
  input.textbox(placeholder=placeholder)

doctype html
html(lang+"de")

head
  title= 'GIT workshop'
  link(rel='stylesheet', href='/css.css')
  style.
    .switch {
      opacity: 0;
    }

body
  h1 GIT workshop.

  //- content is extern, because it's bloated
  include content

//- scripts
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/script.js')