mixin textbox(placeholder)
  input.textbox(placeholder=placeholder)

doctype html
html(lang+"de")

head
  <meta name="viewport" content="width=device-width, initial-scale=1">
  title= 'GIT workshop'
  link(rel='stylesheet', href='/css/css.css')
  link(rel='stylesheet', href='/css/stylesheet.css')
  style.
    .switch {
      opacity: 0;
    }

body
  h1 GIT workshop.
  p Willkommen.

  //- content is extern, because it's bloated
  include content

//- scripts
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/script.js')